# Day 6 Assignment AI-ML

Question 1: Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [ ]:
mail = input("Enter an E-mail:")
x = mail.index("@")
print(mail[x+1:len(mail)-4])

Enter an E-mail:john@google.com
google

Question 2: Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [ ]:
text = input()
x = text.split(",")
x.sort()
print(",".join(x))

without,hello,bag,world
bag,hello,without,world

Question 3: Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

**`Sets is an unordered collection of object or elements. It is mutable that is, we can change the elements of the set. It does not consider the duplicate or repeated objects into account.`**

In [ ]:
fruits = {"apple","banana","mango"}
print(fruits)
for i in fruits:
  print(i)
print("mango" in fruits)
fruits.add("orange")
print(fruits)
fruits.update(["cherry", "strawberry", "grapes"])
print(fruits)
print(len(fruits))
fruits.remove("cherry")
print(fruits)
fruits.pop()
print(fruits)
fruits.clear()
print(fruits)

{'banana', 'mango', 'apple'}
banana
mango
apple
True
{'orange', 'banana', 'mango', 'apple'}
{'apple', 'banana', 'cherry', 'strawberry', 'orange', 'grapes', 'mango'}
7
{'apple', 'banana', 'strawberry', 'orange', 'grapes', 'mango'}
{'banana', 'strawberry', 'orange', 'grapes', 'mango'}
set()

In [ ]:
set1 = {"a","b","c"}
set2 = {1,2,3}
set1.update(set2)
print(set1)
set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 'c', 3, 'a'}
{'b', 1, 2, 'c', 3, 'a'}

Question 4: Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [ ]:
a = input("Enter elements of list separated by space:")
b = a.split()
c = []
for i in b:
  d = int(i)
  c.append(d)
e = max(c)
d = range(1,e+1)
for i in d:
  if i not in c:
    print(i)

Enter elements of list separated by space:1 2 4 6 3 7 8
5

Question 5: With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35

In [53]:
a = input("Enter elements of list separated by space:")
b = a.split()
c = []
e = []
for i in b:
  if i not in c:
    c.append(i)
for i in c:
  d = int(i)
  e.append(d)
for j in e:
  print(j,end=" ")

Enter elements of list separated by space:12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155